#title {
    text-align:center;
}

button {
    background-color: #66CDAA;
    color:white;
}

#details_wrapper {
    direction: rtl;
    margin: auto;
    width: 90%;
    margin-top: 2%;
    height: 100%;
}

#address_city_wrapper, #address_street_wrapper, #phone_number_wrapper {
    direction: rtl;
    display: flex;
    margin: auto;
    margin-top: 4%;
}

#address_city, #address_street, #phone_number {
    border: solid;
    margin-right: 1%;
    width: 20%;
    color: inherit;
    border-radius: 5px;
    padding: 1%;
}

#address_city_title, #address_street_title, #phone_number_title {
    width: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

#edit_menu, #add_menu {
    margin-top: 2%;
    background-color: #66CDAA;
    color: white;
    border: none;
    width: 10%;
    padding: 0.5%;
}

#save_changes { 
    margin-top:2%;
    margin-left: auto;
    color: white;
    border: none;
    width: 50%;
    height:5%;
    padding:1%;
}

button {
   border-radius:7px;
}

#exit_editing {
    background: none;
    border-style:solid;
    border-color: #66CDAA;
    margin-left: 5%;
    font-size: large;
    color:inherit;
}

#div_menu {
    margin-top:2%;
    width:100%;
    height: 100%;
}

input {
    border: solid;
    color: inherit;
    border-radius: 5px;
}

.category_div {
    margin-top:2%;
}

.item_content {
    margin-top: 1%;
    display: flex;
    width: 100%;
}

.item_name, .item_price, .item_description, .item_choices, .item_sizes, .item_features {
    padding: 0.5%;
    margin-left: 1%;
}


.titles {
    width:15%;
}