html, body {
    height: 100%;
    width: 100%;
    background-color: #a4efe126;
    font-family: 'Segoe UI';
    margin: auto;
    display: inline-block;
}

button {
    border: none;
    border-radius: 35px;
    background: #00ffd0;
    color: white;
    font-size: 160%;
    font-family: 'Segoe UI';
    border: 1px solid #85ffcc;
}

    button:hover {
        background-position: center;
    }



h4 {
    color: #58e8b6;
    text-align: center;
    font-family: 'Segoe UI';
    margin: auto;
}
