#logo {
  text-align:center;
  height:auto;
  width:20%;
}

.wrapper {
    height: 100%;
    margin-top: auto;
    margin-bottom:10%;
    margin-left:auto;
    margin-right:auto;
    width:95%;
    display:block;
}

#welcome {
    margin-top:5%;
    text-align: center;
    font-family: 'Segoe UI';
    color: #00b593;
}

#menu {
  margin-top:10%;
  height:100%;
  color:#02c09d;
}

.item_div {
  margin-top:5%;
  display:flex;
  width:100%;
  direction:rtl;
  text-align:right;
}

.item_content {
  display:block;
  width:90%;
  margin:auto;
  margin-left:5%;
  font-size:large;
}

.category_name {
  text-align: center;
  height:5%;
  width:90%;
  font-size:x-large;
  border-top:2px dotted;
  margin:auto;
  margin-top:5%;
}

.name_price_div {
  display:flex;
}

.item_name {
  text-align:right;
}

.item_price {
  margin-right:auto;
  text-align:center;
}

.item_description {
  color: #0f7f6a; 
  font-size:medium;
}

.add {
  text-align:center;
  width:10%;
  height:100%;
  margin:auto;
}


.add_btn {
    border-radius: 15px;
    width:100%;
    text-align:center;
    font-size:large;
    text-align:center;
}

.top_btn {
  margin:auto;
  height:10%;
  direction:rtl;
  display:flex;
}

#my_order {
  margin-left:auto;
  margin-top:auto;
  margin-bottom:auto;
  height:50%;
  width:35%;
}

#exit {
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  height:50%;
  width:35%;
  
}