.logo {
  text-align:center;
}
.wrapper {
    height: 100%;
    margin-top: auto;
    margin-bottom:10%;
    margin-left:auto;
    margin-right:auto;
    width:95%;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI';
    font-size: xxx-large;
    color: #0f7f6a;
}

#menu {
  margin-top:5%;
  height:100%;
}

.item_div {
  display:flex;
  width:100%;
  direction:rtl;
  height:13%;
  text-align:right;

}

.category_name {
    color: #06281c;
    font-size:300%;
    text-align: center;
    height:5%;
}

.item_name {
    color: #0a563c;
    width:25%;
    font-size:250%;
    margin: 2%;
}

.item_price {
    color: #0a563c;
    width:15%;
    font-size:250%;
    margin: 2%;
}

.item_description {
    border: none;
    color: #196e51;
    font-size:200%;
    width: 50%;
    margin: 2%;
}

.add {
  width:10%;
  margin: 2%;
}


.add_btn {
    border-radius: 15px;
    height: 50%;
    width:100%;
    text-align:center;
    font-size:250%;
}

#button_bottom {
    /* height: 100%; */
    /* display:flex; */
    height: 5%;
    width: 100%;
    text-align:center;
    margin-bottom: 1%;
    position:
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%
}

#pay {
  width:25%;
  /* margin:2%; */
  height:-webkit-fill-available;
}

#order {
  width:50%;
  height:-webkit-fill-available;
  margin-right: 2%;
}

.top_btn {
  width :95%;
  margin:auto;
  height:5%;
  direction:rtl;
  display:flex;
}

#my_order {
   margin-left:auto;
   height:100%;
}

#exit {
  margin-right:auto;
  height:100%;  
}