
h1 {
    text-align: center;
    font-family: 'Segoe UI';
    margin: 0%;
    color: #00b593;
}

.logo_wrapper {
  text-align:center;
  height:10%;

}
#logo {
    margin:auto;
    height:100%;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #a4efe126;
    font-family: 'Segoe UI';
    margin: auto;
    display: inline-block;
    overflow: auto;
}


h4 {
    color: #58e8b6;
    text-align: center;
    font-family: 'Segoe UI';
    margin: auto;
}

h3 {
    color: #00b593;
    text-align: center;
    font-family: 'Segoe UI';
    margin: auto;
}

.logo {
    height: 80%;
}

.wrapper {
    height: 100%;
    margin-top: auto;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: block;
}

#order_items {
    margin-top: 20%;
    height: 100%;
    color: #02c09d;
    
    width: 100%;
    direction: rtl;
    
    font-family: 'Segoe UI';
    margin: 0%;
}

.div_order {
    margin-top: 10%;
}

.btns {
    margin-bottom: 10%;
    text-align: center;
    height: 6%;
    bottom: 15px;
    position: absolute;
    justify-content: center;
    width: 100%;
}




button {
    font-size: 16px;
    height: 100%;
    bottom: 0px;
    width: 40%;
}

.remove_btn {
    border-radius: 12px;
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: large;
}

th, td {
    
    text-align: right;
}

th {
    background-color: #58e8b6;
    color: white;
}