#rest_name {
    color: #00b593;
    text-align: center;
}

.logo_wrapper {
    text-align: center;
    height: 10%;
}

#logo {
    margin: auto;
    height: 100%;
    content: url("../images/logo.png");
}



#total_price {
    margin-top: 5%;
}

h3 {
    color: #00b593;
    text-align: center;
    font-family: 'Segoe UI';
    margin: auto;
}


#wrapper {
    margin: auto;
    width: 100%;
    display: block;
}

#order_items {
    margin-top: 20%;
    height: 100%;
    color: #02c09d;
    width: 100%;
    direction: rtl;
    font-family: 'Segoe UI';
    margin: 0%;
}

.div_order {
    margin-top: 10%;
    margin-bottom: 5%;
}

.btns {
    text-align: center;
    height: 6%;
    bottom: 2%;
    position: absolute;
    justify-content: center;
    width: 100%;
}




button {
    font-size: 16px;
    height: 100%;
    bottom: 0px;
    width: 40%;
}

.remove_btn {
    border-radius: 12px;
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: large;
}

th, td {
    text-align: right;
}

th {
    background-color: #58e8b6;
    color: white;
}

#order {
    margin: auto;
    width: 90%;
}

#order_btn_div {
    display: flex;
    margin-top: 5%;
    margin: auto;
}

#sent_order_div {
    direction: rtl;
    color: #58e8b6;
    margin-top: 10%;
}
